#container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--md-sys-color-surface);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--md-sys-color-on-surface);
}

.header > h2 {
  margin-bottom: 10px;
}

#close-icon {
  cursor: pointer;
  font-weight: 200;
  font-size: 30px;
}

.update-profile {
  display: flex;
  width: 100%;
}

.update-picture {
  display: flex;
  flex-direction: column;
}

.update-picture > h3 {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--md-sys-color-on-surface);
}

.update-picture > button {
  cursor: pointer;
  width: fit-content;
  margin: 10px 20px;
}

.update-description {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.update-description > h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 20px;
  color: var(--md-sys-color-on-surface);
}

.select-picture {
  position: relative;
  width: 375px;
  height: 250px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid var(--md-sys-color-on-surface);
  position: relative;
  overflow: hidden;
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image:hover::after {
  opacity: 1;
}

.description-form {
  font-size: 14px;
  font-weight: 200;
  color: var(--md-sys-color-on-surface);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.description-form textarea {
  resize: none;
}

.description-full-width {
  width: 100%;
  padding-top: 10px;
  //padding-bottom: 10px;
}

.publish-button {
  width: fit-content;
  margin-left: 20px;
}

#update-banner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#update-banner > h3 {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}

.choose-banner {
  height: calc(100vh * 0.3);
  border: 1px dashed var(--md-sys-color-on-surface);
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}

.select-banner {
  height: calc(100vh * 0.3);
  border-radius: 20px;
  display: flex;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}
