<div id="container">
  <div class="header">
    <h2>Customize channel</h2>
    <mat-icon id="close-icon" class="material-symbols-rounded" (click)="close()">close</mat-icon>
  </div>
    <div class="update-profile">
      <div class="update-description">
        <h3>Description</h3>
        <form class="description-form">
          <mat-form-field class="description-full-width">
            <textarea matInput placeholder="" value=""></textarea>
          </mat-form-field>
        </form>
        <button mat-flat-button class="publish-button">Publish</button>
      </div>
      <div class="update-picture">
        <h3>Picture</h3>
        <div class="select-picture">
          <img class="image" src="{{(userProfile$ | async )?.avatar_url }}" >
        </div>
      </div>
    </div>
  <div></div>
</div>

