<div id="container">
  <div class="header">
    <h2>Customize channel</h2>
    <mat-icon (click)="close()" class="material-symbols-rounded" id="close-icon"
      >close
    </mat-icon>
  </div>
  @if ((user$ | async)?.channel_url || bannerUrl) {
    <div id="update-banner">
      <h3>Banner</h3>
      <div class="select-banner">
        <img
          (click)="onBannerClick()"
          class="banner"
          src="{{ (user$ | async)?.channel_url }}"
        />
        <input
          #bannerInput
          (change)="onBannerSelected($event)"
          hidden
          type="file"
        />
      </div>
    </div>
  } @else {
    <div class="choose-banner" (click)="onBannerClick()">
      <input
        #bannerInput
        (change)="onBannerSelected($event)"
        hidden
        type="file"
      />
    </div>
  }

  <div class="update-profile">
    <div class="update-description">
      <h3>Description</h3>
      <form [formGroup]="editProfileForm" class="description-form">
        <mat-form-field class="description-full-width">
          <textarea
            #textarea
            [value]="(user$ | async)?.describe"
            formControlName="describe"
            matInput
            maxlength="1000"
            placeholder="Input describe"
          ></textarea>
        </mat-form-field>
      </form>
    </div>
    <div class="update-picture">
      <h3>Picture</h3>
      <div class="select-picture">
        <img
          (click)="onAvatarClick()"
          class="image"
          src="{{ (user$ | async)?.avatar_url }}"
        />
        <input
          #avatarInput
          (change)="onAvatarSelected($event)"
          hidden
          type="file"
        />
      </div>
    </div>
  </div>

  <div class="button-group">
    <button
      (click)="onSave()"
      [disabled]="editProfileForm.invalid"
      mat-flat-button
    >
      Save
    </button>
    <button (click)="onCancel()" mat-stroked-button>Cancel</button>
  </div>
</div>
