<div id="container">
  <div class="header">
    <h2>Customize channel</h2>
    <mat-icon (click)="close()" class="material-symbols-rounded" id="close-icon"
      >close
    </mat-icon>
  </div>
  @if ((userProfile$ | async)?.banner_url || bannerUrl) {
    <div id="update-banner">
      <h3>Banner</h3>
      <div class="select-banner">
        <img
          (click)="onBannerClick()"
          class="banner"
          src="{{ (userProfile$ | async)?.banner_url }}"
        />
        <input
          #bannerInput
          (change)="onBannerSelected($event)"
          hidden
          type="file"
        />
      </div>
    </div>
  } @else {
    <div class="choose-banner" (click)="onBannerClick()">
      <input
        #bannerInput
        (change)="onBannerSelected($event)"
        hidden
        type="file"
      />
    </div>
  }

  <div class="update-profile">
    <div class="update-description">
      <h3>Description</h3>
      <form class="description-form">
        <mat-form-field class="description-full-width">
          <textarea
            matInput
            placeholder="Enter description"
            rows="6"
          ></textarea>
        </mat-form-field>
      </form>
      <button class="publish-button" mat-flat-button>Publish</button>
    </div>
    <div class="update-picture">
      <h3>Picture</h3>
      <div class="select-picture">
        <img
          (click)="onAvatarClick()"
          class="image"
          src="{{ (userProfile$ | async)?.avatar_url }}"
        />
        <input
          #avatarInput
          (change)="onAvatarSelected($event)"
          hidden
          type="file"
        />
      </div>
    </div>
  </div>
</div>
