<div id="container">
  <div id="left-container">
    <div class="card">
      <img
        alt="Video Thumbnail"
        class="thumbnail"
        src="https://i.ytimg.com/vi/Zk7Dg30tCDU/hqdefault.jpg?sqp=-oaymwFBCNACELwBSFryq4qpAzMIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB8AEB-AH-CYAC0AWKAgwIABABGHIgQSg3MA8=&rs=AOn4CLA9sqJZr7zYnM6vaGMehv-0odnbOA"
      />
      <h2>Watch later</h2>
      <p class="details">Cường Hoàng<br />124 videos No views Updated today</p>
      <div class="buttons">
        <button mat-flat-button>
          <mat-icon
            class="material-symbols-rounded"
            fontIcon="play_arrow"
          ></mat-icon>
          Play all
        </button>

        <button mat-flat-button>
          <mat-icon
            class="material-symbols-rounded"
            fontIcon="shuffle"
          ></mat-icon>
          Shuffle
        </button>
      </div>
    </div>
  </div>
  <div id="right-container">
    <app-video-card-horizontal></app-video-card-horizontal>
  </div>
</div>
