<div id="container">
  <div id="left-container">
    <div id="playlist-thumbnail-background">
      <img
        [src]="(playlistDetail$ | async)?.playlist?.thumbnail_url"
        alt="playlist-thumbnail"
      />
    </div>
    <div id="playlist-info">
      <div id="playlist-thumbnail">
        <img
          [src]="(playlistDetail$ | async)?.playlist?.thumbnail_url"
          alt="playlist-thumbnail"
        />
      </div>

      <h2 id="playlist-title">
        {{ (playlistDetail$ | async)?.playlist?.title }}
      </h2>

      <div id="user-info">
        <div id="user-avatar">
          <img [src]="(user$ | async)?.avatar_url" alt="user-avatar" />
        </div>
        <span id="user-name">{{ (user$ | async)?.username }}</span>
      </div>
      <div id="action">
        <button (click)="playAll()" mat-flat-button>Play all</button>
      </div>
    </div>
  </div>

  <div id="right-container">
    <cdk-virtual-scroll-viewport class="scroll" itemSize="50">
      <div id="video-container">
        @for (video of (playlistDetail$ | async)?.videos; track $index) {
          <app-video-card-horizontal
            [video]="video"
          ></app-video-card-horizontal>
        }
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
