@if (video) {
  <mat-card (click)="onVideoClick(video)" appearance="outlined" class="card">
    <mat-card-header id="header-container">
      <div id="img-container">
        <img alt="" mat-card-md-image src="{{ video.thumbnail_url }}" />
      </div>
    </mat-card-header>
    <mat-card-content id="content-container">
      <div class="tittle">
        {{ video.title }}
      </div>
      <div class="description">
        <span class="channel">{{ video.user_data.username }}</span>
        <span class="views">{{ video.views }} views</span>
        <span class="date">{{ video.created_at | date: "dd/mm/yyyy" }}</span>
      </div>
    </mat-card-content>
    <mat-action-row id="actions-container">
      <div id="menu">
        <button
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu"
          mat-icon-button
        >
          <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
            <span>Save to playlist</span>
          </button>
          <button mat-menu-item>
            <mat-icon class="material-symbols-rounded">delete</mat-icon>
            <span>Remove from Watch later</span>
          </button>
        </mat-menu>
      </div>
    </mat-action-row>
  </mat-card>
}
