@if (video) {
  <mat-card
    (click)="onVideoClick(video)"
    appearance="outlined"
    class="card"
    [ngClass]="highlight ? 'highlight' : ''"
  >
    <mat-card-header id="header-container">
      <div id="img-container">
        <img alt="" mat-card-md-image src="{{ video.thumbnail_url }}" />
      </div>
    </mat-card-header>
    <mat-card-content id="content-container">
      <div class="tittle">
        {{ video.title }}
      </div>
      <span class="channel">{{ video.user_data.username }}</span>
      <div class="description">
        <!--        <span class="views">{{ video.views }} views</span>-->
        <!--        <span>•</span>-->
        <span class="date">{{ video.created_at | date: "dd/MM/yyyy" }}</span>
      </div>
    </mat-card-content>
    <mat-action-row id="actions-container">
      <div id="menu">
        <button
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu"
          mat-icon-button
        >
          <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          @if (routerLink.includes("/history")) {
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
              <span>Save to playlist</span>
            </button>
            <button mat-menu-item (click)="removeVideoInHistory()">
              <mat-icon class="material-symbols-rounded">delete</mat-icon>
              <span>Remove from History</span>
            </button>

          } @else if (routerLink.includes("/watch?")) {
            <button (click)="addToWatchLater()" mat-menu-item>
              <mat-icon class="material-symbols-rounded">schedule</mat-icon>
              <span>Save to Watch later</span>
            </button>
            <button (click)="openPlaylistDialog()" mat-menu-item>
              <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
              <span>Save to playlist</span>
            </button>
          }@else {
            <button (click)="openPlaylistDialog()" mat-menu-item>
              <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
              <span>Save to playlist</span>
            </button>
            <button mat-menu-item (click)="removeVideoInWatchLaterPlaylist()">
              <mat-icon class="material-symbols-rounded">delete</mat-icon>
              <span>Remove from Watch later</span>
            </button>
          }
        </mat-menu>
      </div>
    </mat-action-row>
  </mat-card>
}
