<mat-card appearance="outlined" class="video-card">
  <div
    (click)="viewFullPlaylist()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    class="video-container"
  >
    <img
      [src]="playlist.image"
      alt="Thumbnail"
      class="thumbnail"
      mat-card-image
    />
    <img
      [src]="playlist.image"
      alt="Thumbnail"
      class="thumbnail"
      mat-card-image
    />
    <img
      [src]="playlist.image"
      alt="Thumbnail"
      class="thumbnail"
      mat-card-image
    />
    <div
      [ngClass]="{ 'show-overlay': showOverlay }"
      class="play-all-overlay-container"
    >
      <div (click)="playAll()" class="play-all-overlay">
        <mat-icon class="material-symbols-rounded play-all-icon"
          >play_arrow
        </mat-icon>
        <span class="play-all-text">Play All</span>
      </div>
    </div>
  </div>
  <mat-card-content>
    <div class="content-container">
      <div class="main-content">
        <p class="title">{{ playlist.title }}</p>
        <div class="playlist-media">
          <span>Private</span>
          <span>•</span>
          <span>Playlist</span>
        </div>
        <p (click)="viewFullPlaylist()" class="view-playlist">
          View full playlist
        </p>
      </div>
      <div class="actions">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-symbols-rounded">delete</mat-icon>
            <span>Delete</span>
          </button>
          <button (click)="editPlaylist()" mat-menu-item>
            <mat-icon class="material-symbols-rounded">edit</mat-icon>
            <span>Edit playlist</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
