.video-card {
  width: 320px;
  cursor: pointer;

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;

    &:hover .thumbnail {
      transform: translateY(0px) scale(1) !important;
      opacity: 1 !important;
    }

    .thumbnail {
      position: absolute;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    }

    .thumbnail:nth-child(1) {
      z-index: 3;
      transform: translateY(0px) scale(1);
    }

    .thumbnail:nth-child(2) {
      z-index: 2;
      transform: translateY(-8px) scale(0.95);
      filter: brightness(0.8);
    }

    .thumbnail:nth-child(3) {
      z-index: 1;
      transform: translateY(-16px) scale(0.9);
      filter: brightness(0.6);
    }

    .play-all-overlay-container {
      position: absolute;
      width: 90%;
      height: auto;
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      z-index: 5;

      &.show-overlay {
        display: flex;
      }

      .play-all-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .play-all-icon {
          color: rgb(255 255 255);
        }

        .play-all-text {
          font-size: 0.9rem;
          color: rgb(255 255 255);
        }
      }
    }
  }

  .content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .main-content {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--md-sys-color-primary);
        margin: 10px 0;
      }

      .playlist-media {
        height: 10px;
        display: flex;
        flex-direction: row;
        gap: 5px;

        span {
          font-size: 12px;
          color: var(--md-sys-color-secondary);
          cursor: pointer;
        }
      }

      .view-playlist {
        font-size: 12px;
        color: var(--md-sys-color-primary);
        cursor: pointer;

        &:hover {
          filter: brightness(var(--brightness-filter));
        }
      }
    }

    .actions {
      width: 10%;
      display: flex;
      justify-content: end;
      align-items: start;
    }
  }
}

.mat-mdc-card-outlined::ng-deep {
  border-radius: 0;
  border-width: 0;
  border-color: unset;
  background-color: unset;
}

.mat-mdc-card-content::ng-deep {
  padding: 0;
}

.mat-mdc-card-outlined::ng-deep {
  border-radius: 0;
  border-width: 0;
  border-color: unset;
  background-color: unset;
}

.mat-mdc-card-content::ng-deep {
  padding: 0;
}
