<div id="container">
  <div id="save">
    <span id="save-to">Save video to...</span>
    <mat-icon
      (click)="closeDialog()"
      class="material-symbols-rounded"
      id="button-close"
      >close
    </mat-icon>
  </div>
  @if (isGetPlaylistByUserIdSuccess$ | async) {
    <form [formGroup]="playlistForm">
      <div formArrayName="playlists">
        @for (playlist of playlists$ | async; track $index) {
          <div id="save-options">
            <mat-checkbox
              class="material-symbols-rounded"
              [formControlName]="$index"
              (click)="updatePlaylist(playlist, $index)"
              >{{ playlist.title }}
            </mat-checkbox>
            @if (playlist.is_public) {
              <mat-icon
                class="material-symbols-rounded"
                fontIcon="public"
                id="button-lock-open"
              ></mat-icon>
            } @else {
              <mat-icon
                class="material-symbols-rounded"
                fontIcon="lock"
                id="button-lock"
              ></mat-icon>
            }
          </div>
        }
      </div>
    </form>
  }
  <div id="button-add">
    <button mat-flat-button>
      <mat-icon class="material-symbols-rounded">add</mat-icon>
      <span (click)="createPlaylist()">Create new playlist</span>
    </button>
  </div>
</div>
