<div class="container">
  <div class="header">
    <h2>About</h2>
    <mat-icon id="close-icon" class="material-symbols-rounded" (click)="close()">close</mat-icon>
  </div>
  <div class="content">
    <span>- Welcome to our channel! Here you will find a variety of content including tutorials, reviews, and much more. Stay tuned and subscribe for the latest updates!</span>
  </div>
  <div class="channel-detail">
    <h2>Channel details</h2>
    <div class="info">
      <mat-icon class="material-symbols-rounded">mail</mat-icon>
      <span class="mail">buithaiphuong2606&#64;gmail.com</span>
    </div>
    <div class="info">
      <mat-icon class="material-symbols-rounded">public</mat-icon>
      <span class="yt">www.youtube.com/&#64;phuongbuithai</span>
    </div>
<!--    <div class="info">-->
<!--      <mat-icon class="material-symbols-rounded">person</mat-icon>-->
<!--      <span>112K subscribers</span>-->
<!--    </div>-->
<!--    <div class="info">-->
<!--      <mat-icon class="material-symbols-rounded">smart_display</mat-icon>-->
<!--      <span>1.000 videos</span>-->
<!--    </div>-->
    <div class="info">
      <mat-icon class="material-symbols-rounded">trending_up</mat-icon>
      <span>1.000 views</span>
    </div>
  </div>
</div>
