.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .menu-icon {
    cursor: pointer;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .search-container {
      width: 680px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--md-sys-color-surface-container-highest);
      border-radius: 28px;
      margin: 0 auto; /* Center the search container */

      .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 8px 8px 8px 18px;
        border-radius: 28px 0 0 28px;
        width: 90%;
        height: 100%;

        input {
          flex: 1;
          border: none;
          outline: none;
          background-color: unset;
          font-size: 1rem;
          color: var(--md-sys-color-on-surface);
        }
      }

      .search-input:focus-within {
        border: 1px solid #1c62b9;
      }

      .search-action {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0 28px 28px 0;
        padding: 8px;

        background-color: var(--md-sys-color-surface-container-highest);
      }
    }

    .create-btn {
      margin-right: 10px;
    }

    .profile {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

mat-icon::ng-deep {
  color: var(--md-sys-color-primary);
}

#create-icon {
  color: var(--md-sys-color-on-primary);
}

#menu {
  width: 500px;
}
