<div class="container">
  <mat-icon
    (click)="onMenuClick()"
    class="menu-icon material-symbols-rounded"
    fontIcon="menu"
  ></mat-icon>
  <div class="right">
    <div class="search-container">
      <div class="search-input">
        @if (isInputFocused) {
          <mat-icon
            class="search-icon material-symbols-rounded"
            fontIcon="search"
          ></mat-icon>
        }

        <input
          (blur)="onBlur()"
          (focus)="onFocus()"
          [(ngModel)]="searchText"
          placeholder="Search"
          type="text"
        />
        @if (searchText) {
          <mat-icon
            class="clear-icon material-symbols-rounded"
            fontIcon="clear"
          ></mat-icon>
        }
      </div>
      <div [routerLink]="['/search']" class="search-action">
        <mat-icon class="material-symbols-rounded" fontIcon="search"></mat-icon>
      </div>
    </div>
    <button
      (click)="openCreateVideoDialog()"
      class="create-btn"
      mat-flat-button
    >
      <mat-icon
        class="material-symbols-rounded"
        fontIcon="add"
        id="create-icon"
      ></mat-icon>
      Create
    </button>

    @if ((user$ | async)?.id) {
      <div [matMenuTriggerFor]="menu" class="profile">
        <img alt="" src="{{ (user$ | async)?.avatar_url }}" />
        <mat-menu #menu="matMenu">
          <button [routerLink]="['/profile']" mat-menu-item>
            <mat-icon
              class="material-symbols-rounded"
              fontIcon="person"
            ></mat-icon>
            Profile
          </button>
          <button (click)="signOut()" mat-menu-item>
            <mat-icon
              class="material-symbols-rounded"
              fontIcon="logout"
            ></mat-icon>

            Sign out
          </button>
        </mat-menu>
      </div>
    } @else {
      <button
        mat-stroked-button
        [routerLink]="['/login']"
        (click)="signInWithGoogle()"
      >
        <mat-icon
          class="material-symbols-rounded"
          fontIcon="account_circle"
        ></mat-icon>
        Sign in
      </button>
    }
  </div>
</div>
