<div class="container">
  <div class="left">
    <cdk-virtual-scroll-viewport class="scroll" itemSize="50">
      <mat-card appearance="outlined" class="video-card">
        <div class="video-container">
          <vg-player (onPlayerReady)="onPlayerReady($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>

              <vg-time-display
                vgFormat="mm:ss"
                vgProperty="current"
              ></vg-time-display>
              <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
              <vg-time-display
                vgFormat="mm:ss"
                vgProperty="total"
              ></vg-time-display>

              <vg-mute></vg-mute>
              <vg-volume></vg-volume>

              <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video
              #media
              [vgHls]="(video$ | async)?.video_url ?? ''"
              [vgMedia]="$any(media)"
              autoplay
              crossorigin
              id="hls-video"
              preload="auto"
            ></video>
          </vg-player>
        </div>

        <mat-card-content class="content-container">
          <p class="title">{{ (video$ | async)?.title }}</p>
          <div class="row">
            <div class="info">
              <div class="avatar">
                <img
                  alt=""
                  src="{{ (video$ | async)?.user_data?.avatar_url }}"
                />
              </div>
              <div class="user-info">
                <span class="username">
                  {{ (video$ | async)?.user_data?.username }}
                </span>
                <span class="sub">0 subscribers</span>
              </div>
              <button mat-flat-button>Subscribe</button>
            </div>
            <mat-button-toggle-group appearance="standard">
              <!-- Like Button -->
              <mat-button-toggle value="like">
                <mat-icon
                  class="material-symbols-rounded"
                  fontIcon="thumb_up"
                ></mat-icon>
                Like
              </mat-button-toggle>

              <!-- Dislike Button -->
              <mat-button-toggle value="dislike">
                <mat-icon
                  class="material-symbols-rounded"
                  fontIcon="thumb_down"
                ></mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-card-content>
      </mat-card>
      <div
        (click)="toggleDescription()"
        [class.expanded]="isDescriptionExpanded"
        class="description-card"
      >
        <span
          [innerHTML]="(video$ | async)?.description"
          class="content"
        ></span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="right"></div>
</div>
