<div class="video-card">
  <!-- Skeleton Thumbnail -->
  <ngx-skeleton-loader
    [theme]="{ width: skeletonWidth, height: '236.25px', 'border-radius': '12px', 'margin-bottom': '5px' }"
    appearance="line"
  >
  </ngx-skeleton-loader>

  <div class="video-info" style="display: flex; align-items: start;">
    <!-- Skeleton Avatar -->
    <ngx-skeleton-loader
      [theme]="{ width: '40px', height: '40px', 'margin': '0' }"
      appearance="circle"
    >
    </ngx-skeleton-loader>

    <div class="text-info" style="display: flex; flex-direction: column;">
      <!-- Skeleton Title -->
      <ngx-skeleton-loader
        [theme]="{ width: '370px', height: '16px',margin: '0 0 0 10px' }"
        appearance="line"
      >
      </ngx-skeleton-loader>

      <!-- Skeleton Channel & Views -->
      <ngx-skeleton-loader
        [theme]="{ width: '370px', height: '14px', margin: '5px 0 10px 10px' }"
        appearance="line"
      >
      </ngx-skeleton-loader>
    </div>
  </div>
</div>
