<mat-card
  (click)="onVideoClick($event)"
  appearance="outlined"
  class="video-card"
>
  <div class="video-container">
    @if (isHovering) {
      <vg-player class="video-player" (mouseleave)="onMouseLeave()">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-controls>
          <vg-mute (click)="onMuteClick($event)"></vg-mute>
        </vg-controls>

        <video
          #media
          [vgHls]="video.video_url"
          [vgMedia]="$any(media)"
          [muted]="isMuteVolume"
          autoplay
          crossorigin
          playsinline
          id="hls-video"
          preload="auto"
        ></video>
      </vg-player>
    }
    @if (!isHovering) {
      <img
        class="thumbnail"
        (mouseenter)="onMouseEnter()"
        alt="Thumbnail"
        mat-card-image
        [src]="video.thumbnail_url"
      />
    }
  </div>

  <mat-card-content>
    <div class="content-container">
      <div class="main-content">
        <p class="title">{{ video.title }}</p>
      </div>
      <div class="actions">
        <button
          (click)="openDialog($event)"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          mat-icon-button
        >
          <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="addToWatchLater()" mat-menu-item>
            <mat-icon class="material-symbols-rounded">schedule</mat-icon>
            <span>Save to Watch later</span>
          </button>
          <button (click)="openPlaylistDialog()" mat-menu-item>
            <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
            <span>Save to playlist</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
