<div id="edit-container">
  <div id="edit-content">
    <div class="edit-playlist" (click)="closeDialog()">
      <h3>Edit playlist</h3>
      <mat-icon class="material-symbols-rounded">close</mat-icon>
    </div>
    <div class="edit-img">
      <img alt="" src="{{ playlist.image }}">
    </div>
    <div class="title-form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput #title maxlength="150" placeholder="Playlist 1"/>
          <mat-hint class="title-length" align="end">{{title.value.length}} / 100</mat-hint>
        </mat-form-field>
      </form>
    </div>

    <div class="description-form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input matInput #description maxlength="1500"/>
          <mat-hint class="title-length" align="end">{{description.value.length}} / 1500</mat-hint>
        </mat-form-field>
      </form>
    </div>
    <div class="privacy-select">
      <mat-form-field class="privacy-select-mat-form-field">
        <mat-label>Privacy</mat-label>
        <mat-select>
          <mat-option value="one">Public</mat-option>
          <mat-option value="two">Private</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="save-btn">
      <button mat-raised-button (click)="saveEditPlaylist()">Save</button>
    </div>
</div>
</div>
