#create-playlist-container {
  width: 100%;
  height: 100%;

  .create-playlist-content {
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    .create-top {
      width: 100%;
      height: 70px;
      .create-playlist{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 18px;
          color: var(--md-sys-color-on-tertiary);
        }
        mat-icon {
          padding: 18px 0;
          color: var(--md-sys-color-on-tertiary);
        }
      }
    }
    .create-middle{
      width: 100%;
      height: 100%;
      .title-form {
        width: 100%;
        .example-form {
          width: 100%;
          height: 100px;
          .example-full-width {
            width: 100%;
            .mat-label {
              font-size: 13px;
            }
            input{
              font-size: 13px;
            }
            .title-length{
              color: var(--md-sys-color-on-tertiary);
            }
          }
        }
      }

      .description-form {
        width: 100%;
        .example-form {
          width: 100%;
          height: 100px;
          .example-full-width {
            width: 100%;
            mat-label {
              font-size: 13px;
            }
          }
          .title-length{
            color: var(--md-sys-color-on-tertiary);
          }
        }
      }
      .create-bottom{
        width: 100%;
        .create-bottom-title{
          height:40px;
          width: 100%;
          span{
            font-size: 15px;
            height: 70px;
          }
        }
        .create-bottom-content{
          display: flex;
          gap: 10px;
          .visibility{
            width:100%;
            mat-label {
              font-size: 13px;
            }
          }
          .default{
            width:100%;
            mat-label {
              font-size: 13px;
            }
            mat-option{
              font-size: 13px;
            }
          }
        }
      }
    }
    .save-btn{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button{
        width: fit-content;
        background-color: var(--md-sys-color-on-surface);
        color:var(--md-sys-color-on-primary);
      }
    }
  }
}
