<div id="create-playlist-container">
  <div class="create-playlist-content">
    <div class="create-top">
      <div (click)="closeDialog()" class="create-playlist">
        <span class="title">Create a new playlist</span>
        <mat-icon class="material-symbols-rounded close-btn">close</mat-icon>
      </div>
    </div>
    <div class="create-middle">
      <div class="title-form">
        <form [formGroup]="playlistForm">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Title</mat-label>
            <input
              formControlName="title"
              matInput
              placeholder="Choose a title"
            />
          </mat-form-field>
          <div class="create-bottom">
            <div class="create-bottom-content">
              <div class="visibility">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Visibility</mat-label>
                  <mat-select formControlName="visibility">
                    @for (option of options; track option) {
                      <mat-option [value]="option.value"
                        >{{ option.label }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="save-btn">
        <button
          (click)="createPlaylist()"
          [disabled]="playlistForm.invalid"
          mat-flat-button
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
