<div class="history-container">
  <div class="history-header">
    <h1>History</h1>

    <div class="history-content">
      <div class="history-list">
        <div class="left-panel">
          <app-video-card-horizontal></app-video-card-horizontal>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <button mat-button>
        <mat-icon
          aria-hidden="false"
          aria-label="Clear all"
          class="material-symbols-rounded"
          fontIcon="delete"
        ></mat-icon>
        Clear all watch history
      </button>
      <button mat-button>
        <mat-icon
          aria-hidden="false"
          aria-label="Clear all"
          class="material-symbols-rounded"
          fontIcon="delete"
        ></mat-icon>
        Pause watch history
      </button>
    </div>
  </div>
</div>
