.container {
  width: 100%;
  height: 100%;
}

h2 {
  color: var(--md-sys-color-on-surface);
  font-size: 24px;
  margin-bottom: 15px;
}

.watch-date {
  font-size: 18px;
  font-weight: bold;
  color: var(--md-sys-color-on-surface-variant);
  margin: 10px 0 10px 5px;
}

.history-group {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Đường phân cách giống YouTube */
}

.video-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.video-player {
  width: 100%;
  height: 100%;
}

.video-player video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  display: none;
}
