<div class="container">
  @if (isGettingAllVideosInHistory$ | async) {
    <div class="loading">
      <mat-spinner class="circle"></mat-spinner>
    </div>
  } @else {
    <div class="left-container">
      <cdk-virtual-scroll-viewport class="scroll" itemSize="50">
        <h2>Watch History</h2>
        <div class="video-list">
          @for (video of videos$ | async; track $index) {
            <div class="history-group">
              <h3 class="watch-date">
                {{ video.watched_at }}
              </h3>

              <div class="video-items">
                @for (videoDetail of video.videos; track $index) {
                  <app-video-card-horizontal
                    [video]="videoDetail.video_details"
                  ></app-video-card-horizontal>
                }
              </div>
            </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="right-container">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input
            matInput
            placeholder="Search watch history"
            [(ngModel)]="search"
            [ngModelOptions]="{ standalone: true }"
            (keydown.enter)="searchVideos()"
          />
        </mat-form-field>
      </form>

      <div class="example-button-container">
        <button mat-flat-button (click)="clearAllHistory()">
          <mat-icon class="material-symbols-rounded">delete</mat-icon>
          Clear all watch history
        </button>
      </div>
    </div>
  }
</div>
