<div class="container">
  <div id="header-banner"><img class="channel-banner" src="https://yt3.googleusercontent.com/LDubdrr-wZX6bA9L-qybBDztCNCFNrHFfr0IjNl3T-VRCZ_mEGXkuPyE5rSfg51OySU3ONRC=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj" alt=""></div>
  <div id="profile-details">
    <div id="profile-avatar"><img src="https://yt3.googleusercontent.com/R81NAGXh1B7ozyXDkiyWyRytskFlUUZW5KgoGF3rM7DhE_3LLJFa-Q20uWCzIjicsPuhGWpl7w=s160-c-k-c0x00ffffff-no-rj" alt=""></div>
    <div id="profile-info">
      <span id="channel-name">Damit2k</span>
      <div id="profile-stats">
        <span class="stat-item">&#64;damit2k</span>
        <span class="stat-item"> 110k subscribers</span>
        <span class="stat-item"> 1K videos</span>
      </div>
      <div id="introduce">
        <span>-Mình là Quyết, sinh ra và lớn lên ở Hà Nội.</span>
        <span class="more"> ...more</span>
      </div>
      <div id="links">
        <span class="tiktok-link">tiktok.com/&#64;damit2k</span>
        <span class="more-links"> and 3 more links</span>
      </div>
      <button class="subscribe-button">Subscribe</button>
    </div>
  </div>

  <mat-tab-group
    (selectedTabChange)="onTabChange($event)"
    class="sticky-tab-group"
    mat-align-tabs="start"
    mat-stretch-tabs="false"
  >
    <mat-tab label="Home"></mat-tab>
    <mat-tab label="Videos"></mat-tab>
    <mat-tab label="Playlist"></mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>
</div>
