#container {
  width: 100%;

  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    height: 50px;

    #title {
      font-size: 20px;
      color: var(--md-sys-color-on-surface);
    }

    #close-icon {
      cursor: pointer;
      color: var(--md-sys-color-on-surface);
    }
  }

  #line {
    width: 100%;
    height: 1px;
    background-color: var(--md-sys-color-inverse-primary);
  }

  #content-container {
    width: 100%;
    height: calc(100vh - 250px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #upload-video {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: var(--md-sys-color-primary);

      #upload-icon {
        color: var(--md-sys-color-on-primary);
        transform: scale(4);
      }
    }

    #content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      gap: 10px;

      span {
        font-size: 16px;
        color: var(--md-sys-color-on-surface);
      }
    }
  }

  #form-container {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 20px;

    #form-left {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      #visibility {
        color: var(--md-sys-color-on-surface);
      }
    }

    #form-right {
      width: 40%;
      height: 100%;

      #thumbnail-container {
        width: 100%;
        height: 100%;

        #thumbnail-img {
          position: relative;
          width: 400px;
          height: calc(400px / 1.79); /* Adjust height based on aspect ratio */
          border-radius: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
          }

          #edit-icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: var(--md-sys-color-on-primary);
            cursor: pointer;
          }
        }

        #thumbnail-input {
          width: 400px;
          height: calc(400px / 1.79); /* Adjust height based on aspect ratio */
          cursor: pointer;
          border: 2px dashed var(--md-sys-color-inverse-primary);
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--md-sys-color-inverse-primary);

          &:hover {
            filter: brightness(var(--brightness-filter));
          }
        }
      }
    }
  }

  #footer-container {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 30px 40px;
    height: 50px;
  }
}

.hint {
  font-size: 12px;
  color: var(--md-sys-color-on-surface);
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
}

.progress-bar-inner {
  height: 100%;
  border: 1px solid #ccc;
  background-color: #4caf50;
  transition: width 0.3s ease;
  width: 0;
}

.scroll {
  width: 50%;
  height: calc(100vh - 250px);
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}
