<div id="container">
  <div id="header-container">
    <h3 id="title">Upload Video</h3>
    <mat-icon
      (click)="closeDialog()"
      class="material-symbols-rounded"
      id="close-icon"
      >close
    </mat-icon>
  </div>
  @if (isFormDisabled) {
    <div class="progress-bar">
      <div
        [style.width.%]="uploadProgress$ | async"
        class="progress-bar-inner"
      ></div>
    </div>
  }
  <div id="line"></div>
  @if (!videoFile) {
    <div id="content-container">
      <div id="upload-video">
        <mat-icon class="material-symbols-rounded" id="upload-icon"
          >upload_2
        </mat-icon>
      </div>
      <div
        (dragover)="onDragOver($event)"
        (drop)="onFileDrop($event)"
        id="content"
      >
        <span>Drag and drop video files to upload </span>
        <input
          (change)="onFileSelected($event)"
          accept="video/mp4"
          hidden
          id="file-input"
          type="file"
        />
        <button
          (click)="onUploadButtonClick()"
          id="upload-button"
          mat-raised-button
        >
          Select Video
        </button>
      </div>
    </div>
  } @else {
    <form [formGroup]="uploadForm" class="form" id="form-container">
      <cdk-virtual-scroll-viewport class="scroll" itemSize="50">
        <div id="form-left">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Add a title that describes your video"
              formControlName="fileName"
              maxlength="100"
            />
            <mat-hint align="end" class="hint">
              {{ (uploadForm.get("fileName")?.value ?? "").length }}/100
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Tell viewers about your video"
              formControlName="description"
              maxlength="5000"
              cdkTextareaAutosize
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="20"
            ></textarea>
            <mat-hint align="end" class="hint">
              {{ (uploadForm.get("description")?.value ?? "").length }}/5000
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="categories" multiple>
              @for (category of categories$ | async; track $index) {
                <mat-option [value]="category.id"
                  >{{ category.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-label id="visibility">Visibility</mat-label>
          <mat-radio-group formControlName="visibility">
            <mat-radio-button value="public">Public</mat-radio-button>
            <mat-radio-button value="private">Private</mat-radio-button>
          </mat-radio-group>
        </div>
      </cdk-virtual-scroll-viewport>

      <div id="form-right">
        <div id="thumbnail-container">
          @if (uploadForm.get("thumbnail")?.value) {
            <div id="thumbnail-img">
              <img [src]="uploadForm.get('thumbnail')?.value" alt="Thumbnail" />
              <button
                mat-icon-button
                id="edit-icon"
                [disabled]="this.isFormDisabled"
              >
                <mat-icon class="material-symbols-rounded">edit</mat-icon>
              </button>
            </div>

            <input
              type="file"
              id="edit-thumbnail-file-input"
              accept="image/*"
              (change)="onThumbnailSelected($event)"
              hidden
            />
          } @else {
            <div id="thumbnail-input" (click)="onThumbnailInputClick()">
              Choose your thumbnail image
            </div>
            <input
              type="file"
              id="thumbnail-file-input"
              accept="image/*"
              (change)="onThumbnailSelected($event)"
              hidden
            />
          }
        </div>
      </div>
    </form>

    <div id="footer-container">
      <button
        (click)="onUploadClick()"
        [disabled]="uploadForm.invalid || isFormDisabled"
        id="create-button"
        mat-raised-button
      >
        Upload Video
      </button>
    </div>
  }
</div>
